@using Resume.Models

@if(Company is not null)
{
    <MudStack Row="true" Wrap="Wrap.Wrap" AlignItems="AlignItems.Center">
        <MudImage Style="border-radius: 10px" Height="150" Width="150" Src="@Company.ImageLink" Alt="@Company.AltText" />
        <div>
            <MudText Typo="Typo.h4">@Company.CompanyName</MudText>
            <MudText Typo="Typo.h5">@Company.Location</MudText>
            <MudLink Href="@Company.ExternalLink" Target="_blank">@Company.ExternalLink</MudLink>
        </div>
    </MudStack>

    <MudText Typo="Typo.body1" class="@summaryClass">@Company.Summary</MudText>

    <div style="@_marginBottom">
        @if (showFullSummary)
        {
            <MudLink Href="javascript:void(0);" OnClick="ToggleSummary">See Less</MudLink>
        }
        else
        {
            <MudLink Href="javascript:void(0);" OnClick="ToggleSummary">See More</MudLink>
        }
    </div>
}

@code {
    [Parameter] public Company? Company { get; set; }
    [Parameter] public string MarginBottom { get; set; } = "0em";

    private bool showFullSummary = false;
    private string _marginBottom => $"margin-bottom:{MarginBottom}";
    private string summaryClass => showFullSummary ? string.Empty : "truncate";

    private void ToggleSummary()
    {
        showFullSummary = !showFullSummary;
    }
}