@using Resume.Models

@if(Company is not null)
{
    <MudStack Row="true" Wrap="Wrap.NoWrap" AlignItems="AlignItems.Center" Style="margin-bottom:2em;">
        <MudImage Style="border-radius: 10px" Fluid="true" ObjectFit="ObjectFit.Cover" Src="@Company.ImageLink" Alt="@Company.AltText" />
        <div>
            <MudText Typo="Typo.h4">@Company.CompanyName</MudText>
            <MudText Typo="Typo.h5">@Company.Location</MudText>
            <MudText Typo="Typo.body1">@Company.Summary</MudText>
            <MudLink Href="@Company.ExternalLink" Target="_blank">@Company.ExternalLink</MudLink>
        </div>
    </MudStack>
}

@code {
    [Parameter] public Company? Company { get; set; }
}