@using Resume.Models

@if(Company is not null)
{
    <MudStack Row="true" Wrap="Wrap.Wrap" AlignItems="AlignItems.Center">
        <MudImage Style="border-radius: 10px" Height="150" Width="150" Src="@Company.ImageLink" Alt="@Company.AltText" />
        <div>
            <MudText Typo="Typo.h4">@Company.CompanyName</MudText>
            <MudText Typo="Typo.h5">@Company.Location</MudText>
            <MudLink Href="@Company.ExternalLink" Target="_blank">@Company.ExternalLink</MudLink>
        </div>
    </MudStack>

    <MudText Typo="Typo.body1" Style="@_marginBottom">@Company.Summary</MudText>
}

@code {
    [Parameter] public Company? Company { get; set; }
    [Parameter] public string MarginBottom { get; set; } = "0em";

    private string _marginBottom => $"margin-bottom:{MarginBottom}";
}