@using Resume.Models

<CompanyComponent Company="@Company" MarginBottom="2em" />

@foreach (var experience in Experiences)
{
    <MudStack Row="true">
        @* <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Color="Color.Tertiary" Style="font-size:2em;" /> *@
        @* <div class="vertical-line"></div> *@
        <MudDivider Vertical="true" FlexItem="true" Style="margin-top:10px;margin-bottom:10px;" />
        <div>
            <MudText Typo="Typo.h5">@experience.Title</MudText>
            <MudText Typo="Typo.body1">@experience.Date</MudText>
            <MudText Typo="Typo.body1" Style="margin-bottom:1em;">@experience.Summary</MudText>
        </div>
    </MudStack>
    
    
}

@code {
    [Parameter] public Company? Company { get; set; }
    [Parameter] public IEnumerable<Experience> Experiences { get; set; } = [];
}